{% extends 'home/base.html' %}

{% block home %}

<div >
    <img class="w-100" style="background-image: url('https://source.unsplash.com/1280x450/?technology'); width: 1280px; height: 450px; opacity: 0.8; background-repeat:no-repeat;  background-size:100%;">

    <div class="container">
        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi qui a aliquam, perferendis ex culpa natus
                    iusto dolor ad deleniti maiores! Saepe in et voluptatem sapiente, amet expedita illum explicabo.</p>
            </div>
            <div class="col">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, mollitia eligendi omnis in corporis,
                    nam illo, voluptatem accusamus distinctio culpa voluptatibus? Illum laboriosam nulla amet nemo dolorum,
                    adipisci consequuntur laborum.</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi qui a aliquam, perferendis ex culpa natus
                    iusto dolor ad deleniti maiores! Saepe in et voluptatem sapiente, amet expedita illum explicabo.</p>
            </div>
            <div class="col">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, mollitia eligendi omnis in corporis,
                    nam illo, voluptatem accusamus distinctio culpa voluptatibus? Illum laboriosam nulla amet nemo dolorum,
                    adipisci consequuntur laborum.</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi qui a aliquam, perferendis ex culpa natus
                    iusto dolor ad deleniti maiores! Saepe in et voluptatem sapiente, amet expedita illum explicabo.</p>
            </div>
            <div class="col">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, mollitia eligendi omnis in corporis,
                    nam illo, voluptatem accusamus distinctio culpa voluptatibus? Illum laboriosam nulla amet nemo dolorum,
                    adipisci consequuntur laborum.</p>
            </div>
        </div>
    </div>
   
</div>
{% endblock %}