{% extends 'home/base.html' %}

{% load crispy_forms_tags %}

{% block home %}
<div>
  <!-- <img style="background-image: url('https://source.unsplash.com/1280x450/?technology'); width: 1280px; height: 450px;opacity: 0.8; "> -->

  <div class="container mt-5 mb-5 d-flex align-items-center justify-content-center">
    <div class="card" >
      <!-- <img class="card-img-top" src="https://source.unsplash.com/1280x450/?entrance" alt="Card image cap"> -->
      <!-- <div class="card-body"> -->
        <!-- <form action="" method="post"> -->
          <p>Your password changed successfully.</p>

        <!-- </form> -->
        <!-- <hr>
        <p><small>Go to <a class="text-decoration-none" href="{% url 'login' %}">Login</a> page. </small> </p>
      </div> -->
    </div>
  </div>

</div>
{% endblock %}