{% extends 'home/base.html' %}

{% load crispy_forms_tags %}

{% block home %}
<div>
  <!-- <img style="background-image: url('https://source.unsplash.com/1280x450/?technology'); width: 1280px; height: 450px;opacity: 0.8; "> -->

  <div class="container mt-5 mb-5 d-flex align-items-center justify-content-center" >
    <div class="card" style="width: 25rem;">
      <img class="card-img-top" src="https://source.unsplash.com/1280x450/?entrance" alt="Card image cap">
      <div class="card-body">
        <form action="" method="post">
          {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" class = "btn btn-primary" value="Submit">
        </form>
        <hr>
        
      </div>
    </div>
  </div>

</div>
{% endblock %}